@mixin absolute00 {
  position: absolute;
  left:0;
  top:0;
}

@mixin borderRadius {
  border-radius:6px;
}

@mixin cardSize {
  width:5em;
  height:7em;
}

* {
  box-sizing: border-box;
}

.clear:before, .clear:after,
.row:before, .row:after {
  content: "";
  display: table;
}

.clear:after,
.row:after {
  clear: both;
}

body {
  font-family:Georgia, serif;
  line-height: 1.2;
}

#board {
  padding:1em;
  min-width:45em;

  & > .row {
    max-width:50em;
    margin:0 auto;
  }
}

.card-holder {
  position:relative;
  @include cardSize;
}

.empty-card-slot {
  @include absolute00;
  @include borderRadius;
  @include cardSize;
  z-index: 0;
  border:1px dashed #333;
}

/*
#cards {
  display:none;
}*/

/**
  DECK
*/

#deck {
  float:left;
  position:relative;
  cursor: pointer;

  .card {
    @include absolute00;
  }

  .card.flip {
    transition: 0.6s;
    z-index:1500;
    left:8em;
  }

  .card.flip:nth-last-child(2) {
    left:7em;
    z-index:1400;
  }

  .card.flip:nth-last-child(1) {
    left: 6em;
    z-index: 1300;
  }
}

#foundations {
  float:right;
  width:22em;
}

.foundation {
  float:left;
  margin-left:0.5em;
}

#stacks {
  float:right;
  clear:both;
  width:42em;
  min-height:10em;
  margin-top:2em;
}

#pile {
  float:left;
  padding:0.5em;
  margin:0 0 0 1em;

  .instructions {
    font-size:0.8em;
    font-style: italic;
  }

  .card {
    @include absolute00;
  }

  .card:nth-last-child(3){
     z-index:1000;
   }

  .card:nth-last-child(2){
    left:1em;
    z-index:1100;
  }

  .card:nth-last-child(1){
    left:2em;
    z-index:1200;
  }
}

.stack {
  float:left;
  margin-left:1em;

  & > .card {
    @include absolute00;
  }
}

/* 2.5" x 3.5":: 5 x 7 */
.card {
  @include borderRadius;
  @include cardSize;
  position:relative;
  z-index:1000;
  font-size:1em;
  line-height:1.1;
  display:inline-block;
  margin:0 0.25em 0.25em 0;
  perspective: 10em;

  .front {
    background-color:#fff;
  }

  .front,
  .back {
    @include borderRadius;
    @include cardSize;
    border: 2px solid #aaa;
    box-shadow:-3px 1px 6px -2px rgba(51, 51, 51, 0.2);
  }
  .back {
    background:#fff url(../images/card-bg.png) left top repeat;
  }

  &.ui-draggable-dragging {
    box-shadow:-3px 1px 16px -2px rgba(102, 102, 102, 0.2);;
  }

  /*
   * Card Flipping
   * http://davidwalsh.name/css-flip
   */
  /* flip the pane when .flip class is added */
  &.flip .flipper {
    transform: rotateY(180deg);
  }

  /* flip speed goes here */
  .flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
  }

  /* hide back of pane during swap */
  .front, .back {
    @include absolute00;
    backface-visibility: hidden;
  }

  /* front pane, placed above back */
  &.flipped .back,
  .front {
    z-index: 2;
    /* for firefox 31 */
    transform: rotateY(0deg);
  }

  /* back, initially hidden pane */
  &.flipped .front,
  .back {
    transform: rotateY(180deg);
  }

  &.spades,
  &.clubs {
    color:#000;
  }

  &.diams,
  &.hearts {
    color:#FF0103;
  }

  .upper-left,
  .lower-right {
    position:absolute;
    font-size:0.8em;
  }

  .upper-left {
    left:0.1em;
    top:0.1em;
  }

  .card-block.center {
    text-align: center;
    font-size:1.2em;
    width:3em;
    margin:0.8em auto 0;
    position: relative;
  }

  & .lower-right,
  & .center .bottom,
  &.number-6 .row.two,
  &.number-9 .row.three,
  &.number-10 .row.three {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  .lower-right {
    right:0.1em;
    bottom:0.1em;
  }

  .center .col {
    width:1em;
    float:left;
  }

  .center .col.center {
    margin-top:0.5em;
  }

  &.number-6 .center .row.two,
  &.number-7 .center .row.two,
  &.number-8 .center .row.two {
    position: relative;
    top:0.5em;
  }

  &.number-8 .center .center .row.top {
    position: relative;
    top:0.25em;
  }

  &.number-7 .center .center .row.bottom,
  &.number-8 .center .center .row.bottom {
    position: relative;
    top:-0.25em;
  }

}


.foundation .card,
.stack .card {
  cursor:move;
}

.stack .card.flipped {
  cursor:default;
}

/*
 * First child is empty card slot.
 * Second child should sit directly on top of empty card slot.
 * All children after that should cascade.
*/
@for $i from 3 to 11 {
  .stack .card:nth-child(#{$i}){
    top: $i - 2em;
  }
}

/*
.stack .card:nth-child(3) {
  top:1.75em;
}

.stack .card:nth-child(4) {
  top:3.5em;
}

.stack .card:nth-child(5) {
  top:5.25em;
}

.stack .card:nth-child(6) {
  top:7em;
}

.stack .card:nth-child(7) {
  top:8.75em;
}

.stack .card:nth-child(8) {
  top:10.5em;
}

.stack .card:nth-child(9) {
  top:12.25em;
}

.stack .card:nth-child(10) {
  top:14em;
}

.stack .card:nth-child(11) {
  top:15.75em;
}
*/
.move-to-stack-7 {
  animation: moveToStack7 0.250s ease 1;
  animation-fill-mode: forwards;
}

@keyframes moveToStack7 {
  from {
    transform: translate(0);
  }

  to {
    transform: translate(45em, 9em);
  }
}